#homepage-main{
    background-image: url('../../../public/images/DSC00818.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom 50%;
    height: 100vh;
    filter: brightness(70%);
  }